extends layout

block content

  h1 ID: #{gameinstance._id}

  p #[strong Title:]
    a(href=gameinstance.game.url) #{gameinstance.game.name}


  p #[strong Status:]
    if bookinstance.status=='Available'
      span.text-success #{bookinstance.status}
    else if bookinstance.status=='Maintenance'
      span.text-danger #{bookinstance.status}
    else
      span.text-warning #{bookinstance.status}

  hr
  p
    a(href=gameinstance.url+'/delete') Delete BookInstance
  p
    a(href=gameinstance.url+'/update') Update BookInstance